<div class="d-flex">
  <%= select_tag "status", options_for_select([
    [t("tasks.status_search_default"),""],
    [t("tasks.status.all_status"),""],
    [t("tasks.status.pending"),"pending"],
    [t("tasks.status.processing"),"processing"],
    [t("tasks.status.completed"),"completed"]]),{:class => 'btn btn-outline-primary dropdown-toggle mx-2', :onchange => "window.location.replace('/'+'tasks?status='+this.value);"} %>

  <%= form_tag(tasks_path, :method => "get",   
      class: "d-flex") do %>  
    <%= search_field_tag :title, params[:title], placeholder: t("tasks.search_bar"), class: "form-control me-2" %>  
    <%= button_tag t("tasks.search_button"), :class => "btn btn-outline-success w-50",:name => nil%>  
  <% end %>
</div><br>
      

<div><%= link_to t("tasks.link.create_task"), new_task_path %></div>

<table id="task_index_table", class="table table-striped">
  <thead>
    <th><%= t("tasks.table.title") %></th>
    <th><%= t("tasks.table.content") %></th>
    <th><%= sortable("priority",t("tasks.table.priority")) %></th>
    <th><%= t("tasks.table.status") %></th>
    <th><%= sortable("created_at", t("tasks.table.created_at")) %></th>
    <th colspan="3"><%= sortable("end_time", t("tasks.table.end_time")) %></th>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.content %></td>
        <td><%= t("tasks.priority.#{task.priority}") %></td>
        <td><%= t("tasks.status.#{task.status}") %></td>
        <td><%= task.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= task.end_time.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= link_to t('tasks.link.edit_task'), edit_task_path(task) %></td>
        <td><%= link_to t('tasks.link.delete_task'), task_path(task), method: 'delete', data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= paginate @tasks %>
