<h2><%= t("tasks.heading.view_task") %></h2>

<table>
  <thead>
    <th><%= t("tasks.table.title") %></th>
    <th><%= t("tasks.table.content") %></th>
    <th><%= t("tasks.table.start_time") %></th>
    <th><%= t("tasks.table.end_time") %></th>
  </thead>

  <tbody>
    <tr>
      <td><%= @task.title %></td>
      <td><%= @task.content %></td>
      <td><%= @task.start_time %></td>
      <td><%= @task.end_time %></td>
      <td><%= link_to t('tasks.link.edit_task'), edit_task_path(@task) %></td>
      <td><%= link_to t('tasks.link.delete_task'), task_path(@task), method: 'delete', data: { confirm: t('are_you_sure') } %></td>
    </tr>
  </tbody>
</table>
