<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= "#{t("site_title")}" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <%= link_to "中文", :locale => "zh-TW" %>
        </li> 
        <li class="nav-item">
          <%= link_to "English", :locale => "en" %>
        </li>
      </ul>

      <div class="nav-item mx-2"><%= link_to t('users.register'), sign_up_users_path %></div>

      <%= select_tag "status", options_for_select([
        [t("tasks.status_search_default"),""],
        [t("tasks.status.pending"),"pending"],
        [t("tasks.status.processing"),"processing"],
        [t("tasks.status.completed"),"completed"]]),{:class => 'btn btn-outline-primary dropdown-toggle mx-2', :onchange => "window.location.replace('/'+'tasks?status='+this.value);"} %>

      <%= form_tag(tasks_path, :method => "get",   
          class: "d-flex") do %>  
        <%= search_field_tag :title, params[:title], placeholder: t("tasks.search_bar"), class: "form-control me-2" %>  
        <%= button_tag t("tasks.search_button"), :class => "btn btn-outline-success w-50",:name => nil%>  
      <% end %>
    </div>
  </div>
</nav>
