<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= "#{t("site_title")}" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <%= link_to "中文", :locale => "zh-TW" %>
        </li> 
        <li class="nav-item">
          <%= link_to "English", :locale => "en" %>
        </li>
      </ul>

      <div class="nav-item mx-2"><%= link_to t('users.register'), sign_up_user_path %></div>
      <div class="nav-item mx-2"><%= link_to t('users.sign_in'), sign_in_user_path %></div>
      <li class="mx-2 list-unstyled">Hi, <%= current_user.name %></li>
    </div>
  </div>
</nav>
